<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Effects of Emotional Neglect in Childhood</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-cPRG3X3fxSIdQnvm9Qre2GMu2erwOfxcgpfbXe5D5+CI2XKmXeOUCCYUXot61TrXoR++mFgJUfEl90kkBmWk7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

  <style>
body {
    font-family: 'IBM Plex Sans Arabic';

    line-height: 1.6;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: right;
}

.wrapper{
    display: flex;
  }
.container{
    max-width: 80rem;
    width: 100%;
    margin: auto;
    padding: 20px;
  }
  .container1{
    max-width: 300px;
    width: 100%;
    padding: 20px;
    margin-top: 10%;
  }

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.card {
    background: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}
.card1{
    max-width: 18rem;
    width: 100%;
    background:#fff;
    border: 0.1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.card h2 {
    color: #333;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.card p {
    color: #666;
    direction: rtl;
    unicode-bidi: bidi-override;
}
.card ul {
    list-style: none;
    padding: 0;
    
}

.card ul li {
    display: inline-block;
    margin-right: 10px;
    direction: rtl;
    unicode-bidi: bidi-override;
}

.card_readmore span {
    color: #007bff;
    cursor: pointer;
}

img{
  max-width: 950px;
  width: 100%;
  border-radius: 20px;
}
a{
  color:black;
  text-decoration: none;
    transition-duration: 0.6s;
}
a:hover{
  color: #007bff;
  transition-duration: 0.6s;
}
footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
            background-color: #333;
            padding: 10px 0;
            max-width: 100%;
            margin: 0 auto;
        }
        nav ul {
            list-style: none;
            text-align: center;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }
        nav ul li {
            display: inline;
            margin: 0 15px;
        }
        nav ul li a {
            color: white;
            font-weight: bold;
            transition: color 0.3s ease;
            text-decoration: none;
        }
        nav ul li a:hover {
            color: #6d6be4;
            text-decoration: none;
        }
        i {
            margin-left: -30px;
            cursor: pointer;
        }
</style>
</head>
<body>
<nav>
  <ul>
    <li><a href="/patients/dashboard">حسابك</a></li>
    <li><a href="/blog/blogs">المدونة</a></li>
    <li><a href="/patients/Doctor/List">المختصين</a></li>
    <li><a href="/assessments/viewAssessment">المقاييس</a></li>
    <li><a href="/homepage">الرئيسية</a></li>
  </ul>
</nav>
  <div class="wrapper">
    <div class="container1">
      <h3 style="display: flex; justify-content: center;">مقالات مقترحة</h3>
      <div class="card1">
        <p><a href="HealthyRelationships.html">7 نصائح لبناء علاقات صحية مع من حولنا</a></p>
      </div><br>
      <div class="card1">
          <p><a href="AI.html">هل يمكن للذكاء الصناعي أن يكون معالجك النفسي المستقبلي؟</a></p>
      </div><br>
      <div class="card1">
          <p><a href="DependentPersonality.html">اضطراب الشخصية الاعتمادية.. الذي يضع نفسه خلف الآخرين دائماً
          </a></p>
      </div><br>
      <div class="card1">
          <p><a href="NarcissismBlog.html">يمتلك ذاتاً متضخمة جداً.. ما هي صفات الشخصية النرجسية وكيف يمكن علاجها أو تجنبها؟
          </a></p>
      </div><br>
      <div class="card1">
          <p><a href="depressionBlog.html">كيف أخفف حدة القلق الاجتماعي لدي؟
          </a></p>
      </div><br>
      <div class="card1">
          <p><a href="AnxietyBlog.html">هل أنت مكتئب؟ أعراض الاكتئاب الجسدية الأكثر شيوعًا
          </a></p>
      </div><br>
      <div class="card1">
          <p><a href="ShyAndAnxietyBlog.html">ما هو الفرق بين القلق الاجتماعي والخجل الاجتماعي؟
          </a></p>
      </div><br>
      <div class="card1">
          <p><a href="ReturnToMyLifeBlog.html">كيف أعود إلى حياتي بعد التعافي من الاكتئاب؟
          </a></p>
      </div><br>
      <div class="card1">
          <p><a href="self-conscious.html">كيف أرفع مستوى الوعي الذاتي لدي؟
          </a></p>
      </div><br>
      <div class="card1">
          <p><a href="ObssessiveBlog.html">كيف يؤثر الوسواس القهري على الإنتاجية؟</a></p>
      </div><br>
      
      <div class="card1">
          <p><a href="RelationEffectBlog.html">كيف تؤثر العلاقات العاطفية على تحسين أو تدهور الصحة النفسية؟
          </a></p>
      </div>
  </div>
    <div class="container">
        <div class="card">
          <h1>كيف يؤثر الجفاف العاطفي في الطفولة على التنمية السليمة للإنسان؟ </h1>
          <img src="/images/CHILD.png">
          <p>يمكن أن يتسبب الجفاف العاطفي في مرحلة الطفولة بضرر كبير على صحة الطفل النفسية، والتي تنعكس على تصرفاته من خلال تقليل احترامه لذاته والتشكيك بقدراته العقلية، وقد يعلمهم فقدان الحنان أن مشاعرهم غير مهمة، عواقب هذا الإهمال العاطفي تنعكس على الطفل بشكل مبكر وقد تستمر مدى الحياة.</p>
          <p>الحقيقة الواضحة والمؤكدة أن الجفاف العاطفي في مرحلة الطفولة يرجع لفشل الوالدين في الاستجابة لاحتياجات الطفل العاطفية، إن فهم سبب حدوث هذا الإهمال أمر مهم للآباء والمعلمين وأي شخص يجب عليه التعامل مع الأطفال، ومن الجيد أيضاً معرفة كيف يبدو الأمر من منظور الطفل، وما الذي يمكن فعله لتصحيح هذه المشكلة أو مساعدة الطفل على التغلب على المشاعر السلبية الناتجة عن فقدان الحنان.</p>
          <p>في هذا المقال نقدم لك المعلومات التي تحتاجها لمعرفة ما هو الجفاف العاطفي وأسبابه وآثاره على الطفل.</p>
          <h2>ما هو الجفاف العاطفي في مرحلة الطفولة؟</h2>
          <p>فقدان الحنان هو الشعور الناتج عن فشل أحد الوالدين أو كليهما في الاستجابة بشكل مناسب لاحتياجات الطفل العاطفية، وقد لا تكون الإساءة العاطفية مقصودة في بعض الأحيان.</p>
          <p>على الرغم من أن الإساءة قد تكون مقصودة غالباً، وذلك عن طريق تجاهل تصرفات الطفل أو عدم الاكتراث للمشاعر التي يقوم بالتعبير عنها، إلا أن هذا التجاهل المتعمد لمشاعر الطفل قد يكون بسبب الفشل في ملاحظة تصرفات أو احتياجات  الطفل العاطفية.</p>
          <p>فقدان الحنان الذي يعاني منه الطفل سواء كان مقصوداً أم لا سيتسبب بمشاكل نفسية على المدى الطويل والقصير وبشكل ملحوظ غالباً،  قد يستمر الآباء الذين يهملون أطفالهم عاطفياً في تقديم الرعاية والأمور الضرورية، لكنهم يهملون ما هو أهم من الطعام والشراب وهو الجانب النفسي.</p>
          <h2><i class="fas fa-exclamation-triangle icon"></i>ما هي أعراض الجفاف العاطفي على الأطفال؟</h2>
          <p>يمكن أن تتراوح أعراض فقدان الحنان في مرحلة الطفولة بين الخفيفة والشديدة، وقد يكون معظم الضرر الناجم عن الإهمال غير واضح في البداية، لكن ومع مرور الوقت تبدأ أعراض فقدان الحنان في الظهور، تشمل أعراض فقدان الحنان عند الأطفال ما يلي:</p>
          <ul>
            <li>اكتئاب,</li>
            <li>قلق,</li>
            <li>لامبالاة,</li>
            <li> فشل في التعبير عن النفس,</li>
            <li> فرط النشاط,</li>
            <li>عدائية,</li>
            <li> تأخر النمو,</li>
            <li> احترام متدنِ للذات,</li>
            <li>إساءة استعمال المواد المخدرة,</li>
            <li> الانسحاب من الأنشطة الاجتماعية وتكوين الصداقات.</li>
            <li> الظهور بمظهر غير مبال,</li>
            <li> تجنب التقارب العاطفي أو العلاقة الحميمة مع التقدم في العمر</li>
          </ul>
      
          <h2><i class="fas fa-user-md icon"></i>كيف يؤثر الجفاف العاطفي على البالغين؟</h2>
          <p>الأطفال الذين يتم إهمالهم عاطفياً يكبرون ليصبحوا بالغين غير قادرين على التعامل مع العواقب التي ظهرت بسبب فقدان الحنان في صغرهم، ونظراً لأنه لم يتم التحقق من صحة احتياجاتهم العاطفية عندما كانوا أطفال، فهم لا يعرفون كيفية التعامل مع عواطفهم عندما تجتاحهم.</p>
          <p>تشمل آثار الجفاف العاطفي في مرحلة البلوغ ما يلي:</p>
          <ul>
            <li>اضطراب ما بعد الصدمة,</li>
            <li>اكتئاب,</li>
            <li> عدم الاتزان العاطفي,</li>
            <li> زيادة احتمالية الإصابة باضطرابات الأكل,</li>
            <li> تجنب العلاقات العاطفية,</li>
            <li>شعور عميق بوجود عيب شخصي,</li>
            <li> شعور بالفراغ,</li>
            <li>ضعف الانضباط الذاتي,</li>
            <li> الشعور بالذنب والعار,</li>
            <li>الغضب والسلوكيات العدوانية,</li>
            <li>صعوبة الثقة بالآخرين أو الاعتماد على أي شخص آخر.</li>
          </ul>
          <p >في الواقع البالغون الذين عانوا من فقدان الحنان في مرحلة الطفولة قد يصبحون أباء وأمهات أيضاً، ويقومون بإهمال أطفالهم عاطفياً كما حدث لهم، لأنهم غير قادرين على توفير الدعم العاطفي وذلك لعدم حصولهم عليه في المقام الأول، أي أنهم ربما لا يدركون الطريقة الصحيحة لتغذية عواطف أطفالهم.</p>
          <h2><i class="fas fa-clipboard-check icon"></i>ما هو علاج الجفاف العاطفي فقدان الحنان؟</h2>
          <p >علاج فقدان الحنان في مرحلة الطفولة متشابه غالباً، ولا يختلف باختلاف المرحلة العمرية أو الطفل، ويمكن للبالغين تلقي العلاج نفسه:</p>
          <h4>العلاج النفسي</h4>
          <p>يمكن للطبيب أو المعالج النفسي أن يساعد الطفل في تعلم كيفية التعامل مع مشاعره بطريقة صحية، لكن إذا كان الطفل معتاداً على كبت مشاعره بصورة منتظمة، فقد يكون من الصعب التعرف على مشاعره ويصبح تعليمه كيفية التعامل معها أمراً صعباً.</p>
          <p>أما البالغون فالسنوات التي عاشوها وهم يقمعون مشاعرهم ستجعلهم يمرون بمصاعب مختلفة عند محاولة التعبير عنها، لكن الطبيب أو المعالج النفسي يملك القدرة على مساعدتهم وتعليمهم كيفية التعبير عن هذه المشاعر وقبولها بشكل صحيح.</p>
          <h4>العلاج الأسري</h4>
          <p>إذا كان الطفل يعاني من فقدان الحنان في المنزل، فالعلاج الأسري قادر على مساعدة الطفل والوالدين بشكل متبادل، يساعد المعالج الوالدين على فهم التأثير الذي يتسببان به عن طريق إهمالهم لمشاعر طفلهم، بالإضافة لمساعدة الوالدين على تعلم ومعرفة كيفية التعامل مع المشكلات التي تواجههم مع مشاعر طفلهم، والتدخل المبكر قادر على تعديل وتصحيح السلوكيات التي تؤدي إلى الإهمال من قبل الأبوين وذلك لتلافي العواقب التي قد تنشاً من الإهمال.</p>
          <h2><i class="fas fa-stethoscope icon"></i>ما هي أسباب الجفاف العاطفي؟</h2>
          <p>إن أسباب فقدان الحنان عند الأطفال ذات أوجه وصفات متعددة وغالباً ما يصعب فهمها، على الرغم من أن العديد من الأباء يسعون ليكونوا الأفضل في الأبوة ولا يقصدون إهمال مشاعر أطفالهم، إلا أنها قد تحدث دون علمهم، فقد تكون طريقة تربيتهم أو تعاملهم مع أطفالهم خاطئة وهم يعتقدون أنهم يقومون بالأمر الصحيح.</p>
          <p>عض الأسباب التي قد تكون موجودة لدى البالغين الذين يهملون أطفالهم هي:</p>
          <ul>
            <li>اكتئاب</li>
            <li>إساءة استعمال المواد المخدرة,</li>
            <li> اضطرابات الصحة العقلية,</li>
            <li>الغضب أو الاستياء تجاه الطفل,</li>
            <li>الافتقار الشخصي إلى الإشباع العاطفي,</li>
            <li>تاريخ من الإهمال من قبل الوالدين.</li>
            <li>نقص مهارات الأبوة أو الأمومة لديهم,</li>
          </ul>
          <p>غالباً ما يأتي الآباء المهملون من عائلات تم إهمالهم فيها عاطفياً ولم يتم تقديم الحنان لهم عندما كانوا أطفالاً، بسبب ذلك لا يملك هؤلاء الأشخاص المهارات اللازمة لتلبية احتياجات أطفالهم.</p>
          <h2>كيف يتم تشخيص الجفاف العاطفي عند الأطفال؟</h2>
          <p>
            لا يوجد اختبار يمكنه الكشف عن فقدان الحنان في مرحلة الطفولة، لكن نستطيع إجراء تشخيص لاكتشاف الأعراض والعوامل الأخرى المسببة لفقدان الحنان، على سبيل المثال: قد يلاحظ الطبيب فشل الطفل في النمو أو افتقاره إلى الاستجابة العاطفية أثناء الموعد الطبي.</p>
          <p>
            وقد يلاحظ الطبيب أو الأشخاص المقربين من العائلة عدم اهتمام الوالدين بصحة طفلهم النفسية ورفاهيته، في هذه الحالة يصبح من السهل تحديد المشكلة الأساسية مما يساعد في ربط النقاط بين الأعراض الظاهرة والإهمال غير المرئي.</p>
          <p>
            يمكن للمعالج أو الطبيب النفسي المساعدة في فحص أحداث طفولتك والعواقب التي تواجهها اليوم، وذلك من أجل فهم أفضل للمشكلات المحتملة وكيفية علاجها، أو مساعدتك في معرفة الطريقة الصحيحة لكيفية فهم مشاعر طفلك والتعامل معها.</p>
          <p>
            في النهاية يمكننا القول بأن أي سلوك أو عدم انتباه أو اهتمام يؤدي إلى تجاهل احتياجات الطفل العاطفية يمكن اعتباره إهمالًا عاطفياً في مرحلة الطفولة، في حين أن العديد من أمثلة الإهمال العاطفي تعتمد على الأعراف الاجتماعية والثقافية، إلا أن الإهمال العاطفي يمكن أن يكون أيضاً غير مقصود بسبب الصدمات والتجارب السابقة للوالدين أو أحدهما.</p>
          <p>
            على الرغم من أن الإهمال العاطفي قد يكون شكل من أشكال سوء المعاملة، لكن الشفاء ليس بالأمر المستحل، قد يكون من المفيد الاستماع لمشاعر طفلك وممارسة التعاطف مع ذاتك والتحدث مع طبيب اختصاصي أو معالج نفسي ذي خبرة.</p>
          </p>
        </div>
    </div>
</div>
<!-- <div class="container">
  <div class="card">
    
    <h1>كيف يؤثر الجفاف العاطفي في الطفولة على التنمية السليمة للإنسان؟</h1>
    <p>يمكن أن يتسبب الجفاف العاطفي في مرحلة الطفولة بضرر كبير على صحة الطفل النفسية، والتي تنعكس على تصرفاته من خلال تقليل احترامه لذاته والتشكيك بقدراته العقلية، وقد يعلمهم فقدان الحنان أن مشاعرهم غير مهمة، عواقب هذا الإهمال العاطفي تنعكس على الطفل بشكل مبكر وقد تستمر مدى الحياة.</p>
    <p> الحقيقة الواضحة والمؤكدة أن الجفاف العاطفي في مرحلة الطفولة يرجع لفشل الوالدين في الاستجابة لاحتياجات الطفل العاطفية، إن فهم سبب حدوث هذا الإهمال أمر مهم للآباء والمعلمين وأي شخص يجب عليه التعامل مع الأطفال، ومن الجيد أيضاً معرفة كيف يبدو الأمر من منظور الطفل، وما الذي يمكن فعله لتصحيح هذه المشكلة أو مساعدة الطفل على التغلب على المشاعر السلبية الناتجة عن فقدان الحنان.</p>
    <p>في هذا المقال نقدم لك المعلومات التي تحتاجها لمعرفة ما هو الجفاف العاطفي وأسبابه وآثاره على الطفل.</p>
    <h2>ما هو الجفاف العاطفي في مرحلة الطفولة؟</h2>
    <p>فقدان الحنان هو الشعور الناتج عن فشل أحد الوالدين أو كليهما في الاستجابة بشكل مناسب لاحتياجات الطفل العاطفية، وقد لا تكون الإساءة العاطفية مقصودة في بعض الأحيان.</p>
    <p>على الرغم من أن الإساءة قد تكون مقصودة غالباً، وذلك عن طريق تجاهل تصرفات الطفل أو عدم الاكتراث للمشاعر التي يقوم بالتعبير عنها، إلا أن هذا التجاهل المتعمد لمشاعر الطفل قد يكون بسبب الفشل في ملاحظة تصرفات أو احتياجات  الطفل العاطفية.</p>
    <p>فقدان الحنان الذي يعاني منه الطفل سواء كان مقصوداً أم لا سيتسبب بمشاكل نفسية على المدى الطويل والقصير وبشكل ملحوظ غالباً،  قد يستمر الآباء الذين يهملون أطفالهم عاطفياً في تقديم الرعاية والأمور الضرورية، لكنهم يهملون ما هو أهم من الطعام والشراب وهو الجانب النفسي.</p>
    <h2><i class="fas fa-exclamation-triangle icon"></i>ما هي أعراض الجفاف العاطفي على الأطفال؟</h2>
    <p>يمكن أن تتراوح أعراض فقدان الحنان في مرحلة الطفولة بين الخفيفة والشديدة، وقد يكون معظم الضرر الناجم عن الإهمال غير واضح في البداية، لكن ومع مرور الوقت تبدأ أعراض فقدان الحنان في الظهور، تشمل أعراض فقدان الحنان عند الأطفال ما يلي:</p>
    <ul>
      <li>اكتئاب</li>
      <li>قلق</li>
      <li>لامبالاة</li>
      <li> فشل في التعبير عن النفس</li>
      <li> فرط النشاط</li>
      <li>عدائية</li>
      <li> تأخر النمو</li>
      <li> احترام متدنِ للذات</li>
      <li>إساءة استعمال المواد المخدرة</li>
      <li> الانسحاب من الأنشطة الاجتماعية وتكوين الصداقات</li>
      <li> الظهور بمظهر غير مبال</li>
      <li> تجنب التقارب العاطفي أو العلاقة الحميمة مع التقدم في العمر</li>
    </ul>

    <h2><i class="fas fa-user-md icon"></i>كيف يؤثر الجفاف العاطفي على البالغين؟</h2>
    <p>الأطفال الذين يتم إهمالهم عاطفياً يكبرون ليصبحوا بالغين غير قادرين على التعامل مع العواقب التي ظهرت بسبب فقدان الحنان في صغرهم، ونظراً لأنه لم يتم التحقق من صحة احتياجاتهم العاطفية عندما كانوا أطفال، فهم لا يعرفون كيفية التعامل مع عواطفهم عندما تجتاحهم.</p>
    <p>تشمل آثار الجفاف العاطفي في مرحلة البلوغ ما يلي:</p>
    <ul>
      <li>اضطراب ما بعد الصدمة</li>
      <li>اكتئاب</li>
      <li> عدم الاتزان العاطفي</li>
      <li> زيادة احتمالية الإصابة باضطرابات الأكل</li>
      <li> تجنب العلاقات العاطفية</li>
      <li>شعور عميق بوجود عيب شخصي</li>
      <li> شعور بالفراغ</li>
      <li>ضعف الانضباط الذاتي</li>
      <li> الشعور بالذنب والعار</li>
      <li>الغضب والسلوكيات العدوانية</li>
      <li>صعوبة الثقة بالآخرين أو الاعتماد على أي شخص آخر</li>
    </ul>
    <p>في الواقع البالغون الذين عانوا من فقدان الحنان في مرحلة الطفولة قد يصبحون أباء وأمهات أيضاً، ويقومون بإهمال أطفالهم عاطفياً كما حدث لهم، لأنهم غير قادرين على توفير الدعم العاطفي وذلك لعدم حصولهم عليه في المقام الأول، أي أنهم ربما لا يدركون الطريقة الصحيحة لتغذية عواطف أطفالهم.</p>
    <h2><i class="fas fa-clipboard-check icon"></i>ما هو علاج الجفاف العاطفي فقدان الحنان؟</h2>
    <p>علاج فقدان الحنان في مرحلة الطفولة متشابه غالباً، ولا يختلف باختلاف المرحلة العمرية أو الطفل، ويمكن للبالغين تلقي العلاج نفسه:</p>
    <h4>العلاج النفسي</h4>
    <p>يمكن للطبيب أو المعالج النفسي أن يساعد الطفل في تعلم كيفية التعامل مع مشاعره بطريقة صحية، لكن إذا كان الطفل معتاداً على كبت مشاعره بصورة منتظمة، فقد يكون من الصعب التعرف على مشاعره ويصبح تعليمه كيفية التعامل معها أمراً صعباً.</p>
    <p>أما البالغون فالسنوات التي عاشوها وهم يقمعون مشاعرهم ستجعلهم يمرون بمصاعب مختلفة عند محاولة التعبير عنها، لكن الطبيب أو المعالج النفسي يملك القدرة على مساعدتهم وتعليمهم كيفية التعبير عن هذه المشاعر وقبولها بشكل صحيح.</p>
    <h4>العلاج الأسري</h4>
    <p>إذا كان الطفل يعاني من فقدان الحنان في المنزل، فالعلاج الأسري قادر على مساعدة الطفل والوالدين بشكل متبادل، يساعد المعالج الوالدين على فهم التأثير الذي يتسببان به عن طريق إهمالهم لمشاعر طفلهم، بالإضافة لمساعدة الوالدين على تعلم ومعرفة كيفية التعامل مع المشكلات التي تواجههم مع مشاعر طفلهم، والتدخل المبكر قادر على تعديل وتصحيح السلوكيات التي تؤدي إلى الإهمال من قبل الأبوين وذلك لتلافي العواقب التي قد تنشاً من الإهمال.</p>
    <h2><i class="fas fa-stethoscope icon"></i>ما هي أسباب الجفاف العاطفي؟</h2>
    <p>إن أسباب فقدان الحنان عند الأطفال ذات أوجه وصفات متعددة وغالباً ما يصعب فهمها، على الرغم من أن العديد من الأباء يسعون ليكونوا الأفضل في الأبوة ولا يقصدون إهمال مشاعر أطفالهم، إلا أنها قد تحدث دون علمهم، فقد تكون طريقة تربيتهم أو تعاملهم مع أطفالهم خاطئة وهم يعتقدون أنهم يقومون بالأمر الصحيح.</p>
    <p>عض الأسباب التي قد تكون موجودة لدى البالغين الذين يهملون أطفالهم هي:</p>
    <ul>
      <li>اكتئاب</li>
      <li>إساءة استعمال المواد المخدرة</li>
      <li> اضطرابات الصحة العقلية</li>
      <li>الغضب أو الاستياء تجاه الطفل</li>
      <li>الافتقار الشخصي إلى الإشباع العاطفي</li>
      <li>تاريخ من الإهمال من قبل الوالدين</li>
      <li>نقص مهارات الأبوة أو الأمومة لديهم</li>
    </ul>
    <p>غالباً ما يأتي الآباء المهملون من عائلات تم إهمالهم فيها عاطفياً ولم يتم تقديم الحنان لهم عندما كانوا أطفالاً، بسبب ذلك لا يملك هؤلاء الأشخاص المهارات اللازمة لتلبية احتياجات أطفالهم.</p>
    <h2>كيف يتم تشخيص الجفاف العاطفي عند الأطفال؟</h2>
    <p>
      لا يوجد اختبار يمكنه الكشف عن فقدان الحنان في مرحلة الطفولة، لكن نستطيع إجراء تشخيص لاكتشاف الأعراض والعوامل الأخرى المسببة لفقدان الحنان، على سبيل المثال: قد يلاحظ الطبيب فشل الطفل في النمو أو افتقاره إلى الاستجابة العاطفية أثناء الموعد الطبي.</p>
    <p>
      وقد يلاحظ الطبيب أو الأشخاص المقربين من العائلة عدم اهتمام الوالدين بصحة طفلهم النفسية ورفاهيته، في هذه الحالة يصبح من السهل تحديد المشكلة الأساسية مما يساعد في ربط النقاط بين الأعراض الظاهرة والإهمال غير المرئي.</p>
    <p>
      يمكن للمعالج أو الطبيب النفسي المساعدة في فحص أحداث طفولتك والعواقب التي تواجهها اليوم، وذلك من أجل فهم أفضل للمشكلات المحتملة وكيفية علاجها، أو مساعدتك في معرفة الطريقة الصحيحة لكيفية فهم مشاعر طفلك والتعامل معها.</p>
    <p>
      في النهاية يمكننا القول بأن أي سلوك أو عدم انتباه أو اهتمام يؤدي إلى تجاهل احتياجات الطفل العاطفية يمكن اعتباره إهمالًا عاطفياً في مرحلة الطفولة، في حين أن العديد من أمثلة الإهمال العاطفي تعتمد على الأعراف الاجتماعية والثقافية، إلا أن الإهمال العاطفي يمكن أن يكون أيضاً غير مقصود بسبب الصدمات والتجارب السابقة للوالدين أو أحدهما.</p>
    <p>
      على الرغم من أن الإهمال العاطفي قد يكون شكل من أشكال سوء المعاملة، لكن الشفاء ليس بالأمر المستحل، قد يكون من المفيد الاستماع لمشاعر طفلك وممارسة التعاطف مع ذاتك والتحدث مع طبيب اختصاصي أو معالج نفسي ذي خبرة.</p>
    </p>
  </div>
</div> -->


</body>
</html>
